<!-- Bootstrap Icons CDN para íconos -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
<!-- menu.component.html -->
<div class="sidebar">
  <nav class="nav flex-column">
    <ng-container *ngFor="let modulo of estructuraMenu">
      <a class="nav-link" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#modulo' + modulo.idModulo" aria-expanded="false">
        <span class="icon"><i class="bi bi-shield-lock"></i></span>
        <span class="description">{{ modulo.nombre }} <i class="bi bi-caret-down-fill"></i></span>
      </a>
      <div class="sub-menu collapse" [id]="'modulo' + modulo.idModulo">
        <ng-container *ngFor="let menu of modulo.menus">
          <a class="nav-link" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#menu' + menu.idMenu" aria-expanded="false">
            <span class="icon"><i class="bi bi-box-seam"></i></span>
            <span class="description">{{ menu.nombre }} <i class="bi bi-caret-down-fill"></i></span>
          </a>
          <div class="sub-menu collapse" [id]="'menu' + menu.idMenu">
            <a class="nav-link" *ngFor="let opcion of menu.opciones" [routerLink]="opcion.url">
              <span class="icon"><i class="bi bi-file-earmark-check"></i></span>
              <span class="description">{{ opcion.nombre }}</span>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <a class="nav-link" href="#">
      <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
      <span class="description">Salir</span>
    </a>
  </nav>
</div>
