<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-sm p-4 animate__animated animate__fadeInDown" style="min-width: 320px; max-width: 350px;">
    <div class="text-center mb-3">
      <img src="./assets/login.png" width="300" alt="Login" class="animate__animated animate__pulse animate__infinite" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" id="loginForm">
      <div class="mb-3">
        <label class="form-label">Email: *</label>
        <input type="text" class="form-control" formControlName="correoElectronico" placeholder="Email" />
        <div *ngIf="loginForm.get('correoElectronico')?.invalid && loginForm.get('correoElectronico')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('correoElectronico')?.errors?.['required']">El email es obligatorio.</small>
          <small *ngIf="loginForm.get('correoElectronico')?.errors?.['email']">Formato de email inválido.</small>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password: *</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-info w-100 mb-2 animate__animated animate__pulse animate__infinite">Ingresar</button>
      <a routerLink="/addusers" class="btn btn-link w-100">Crear Cuenta</a>
    </form>
  </div>
</div>
<!-- Animaciones mágicas con Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
